<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>PROJETO FINAL - NICOLE E LEO</title>
</head>
<body class="index">
    <header>
        <h1>PROJETO FINAL - PROGRAMAÇÃO DE SISTEMAS 03J11</h1>
    </header>

    <main class="index">
        <section>
            <a href="cidades.html" class="cidades"><button class="cidades">CIDADES</button></a>
            <a href="times.html" class="times"><button class="times">TIMES</button></a>
        </section>
    </main>

    <footer>
        Nicole Bernardino Ami - 42252369 <br>
        Leo Hocoya - 10332699
    </footer>
</body>
</html>